{% extends "base_profile.html" %}
{% load static %}

{% block article_kind_header %}
<a class="nav-item nav-link active" href="{% url 'account:profile' user.id %}">Article</a>
<a class="nav-item nav-link" href="{% url 'account:media' user.id %}">Media</a>
<a class="nav-item nav-link" href="{% url 'account:like' user.id %}">Like</a>
{% endblock %}

{% block article_like_widget %}
{% if article_info.is_login_user_like %}
<span class="link-black text-lg already-like">
  <span class="far fa-thumbs-up" style="color:indianred"></span>
</span>
{% else %}
<span class="text-lg not-like">
  <i class="far fa-thumbs-up"></i>
</span>
{% endif %}
<input type="hidden" id="id_like_article_{{article_info.article.id}}"
  value="{{article_info.login_user_favorite_article_id}}">
{% if article_info.article.favorite_article.all %}
<span id="id_like_count_{{article_info.article.id}}">
  {{article_info.article.favorite_article.all.count}}
</span>
{% else %}
<span id="id_like_count_{{article_info.article.id}}"></span>
{% endif %}
{% endblock %}