{% extends "base_relation.html" %}
{% load static %}

{% block relation_list_header %}
<a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'account:following' user_id %}">フォロー中</a>
<a class="flex-sm-fill text-sm-center nav-link" href="{% url 'account:follower' user_id %}">フォロワー</a>
{% endblock %}

{% block relation_list %}
{% for following_info in following_info_list %}
<tr style="cursor: pointer;">
  <td>
    <a href="{% url 'account:profile' following_info.relation_profile.user.id %}" class="text-dark"
      style="font-weight: bold;">
      <img class="rounded-circle img-bordered-sm relation-profile-image"
        src="{{following_info.relation_profile.profile_image.url}}" alt="user image" style="width:60px;height:60px;">
    </a>
  </td>
  <td>
    <a href="{% url 'account:profile' following_info.relation_profile.user.id %}" class="text-dark"
      style="font-weight: bold;">
      {{following_info.relation_profile.user.name}}
    </a>
    <p class="text-muted">{{following_info.relation_profile.introduction}}</p>
  </td>
  <td class="text-center align-middle">
    {% if following_info.relation_profile.user.id == login_user.id %}
    {% elif following_info.is_follow == 0 %}
    <button type="button" class="btn btn-outline-primary float-right un-follow">フォローする</button>
    {% elif following_info.is_follow == 1 %}
    <button type="button" class="btn bg-gradient-primary float-right already-follow">フォロー中</button>
    {% endif %}
    <input type='hidden' value="{{following_info.relation.id}}" id="{{following_info.relation_profile.user.id}}">
  </td>
</tr>
{% endfor %}
{% endblock %}